.full-image-banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* background-color: #e7f0f9; */
  background-color: #E9F0F8;
}

.banner-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.banner-image-container {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  height: 800px;
  /* Fixed height of 1000px */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* This ensures the image covers the entire container */
  display: block;
}

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.shop-button {
  position: absolute;
  display: inline-block;
  background-color: #555;
  color: white;
  padding: 12px 36px;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
  text-align: center;
  min-width: 120px;
  transform: translate(-50%, -50%);
  z-index: 5;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  top: 63%;
  left: 50%;
  background-color: #555555;
  color: #ffffff;
}

.shop-button:hover {
  background-color: #777;
  transform: translate(-50%, -50%) scale(1.05);
}


@media (max-width:1080px) {

  .banner-image-container {
    margin-top: 60px;
    margin-bottom: 0px;
    height: 624px;
  }
}

@media (max-width: 768px) {
  .banner-image-container {
    height: 400px;
    /* Shorter height on mobile */
    margin: 0;
  }

  .shop-button {
    padding: 10px 24px;
    font-size: 14px;
    min-width: 100px;
  }
}

@media (max-width: 480px) {
  .banner-image-container {
    height: 648px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
  }

  .shop-button {
    top: 85% !important;
    left: 50% !important;
    width: 60%;
  }

  .chair-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    flex-grow: 1;
    object-fit: contain;
}
}

@media (max-width: 430px) {

  .chair-image {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    flex-grow: 1;
    object-fit: contain;
}

  .shop-button {
    top: 90% !important;
    left: 50% !important;
    width: 60%;
  }
}

