  @font-face {
    font-family: 'Platypi-SemiBoldItalic';
    src: url('{{ "Platypi-SemiBoldItalic.ttf" | asset_url }}') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

    @font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('{{ "DMSerifDisplay-Regular.ttf" | asset_url }}') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }