.style-section {
  width: 100%;
  max-width: 100%;
  height: 1212px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D5E7B3;
}

.style-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: #D5E7B3; */
}

.category-tag {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
}

.category-tag-content{
  border: #F09A38 1px solid;
  color: #F09A38;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 4px 8px;
}

.category-tag svg {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.style-title {
  /* font-family: 'DMSerifDisplay-Regular'; */
  font-size: clamp(24px, 5vw, 56px);
  font-weight: 600;
  margin-bottom: 40px;
  color: #111;
}

.style-grid {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.style-card {
  width: calc(50% - 12px);
  background-color: #F8F9FC;
  border-radius: 16px;
  padding: 32px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  aspect-ratio: 608/704;
}

.style-card.active {
  border: 2px solid #12A89D;
}

.pantone-tag {
  position: absolute;
  top: 72px;
  left: 72px;
  background: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: #666;
}

.chair-image-container {
    margin-bottom: 32px;
}

.chair-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  flex-grow: 1;
  object-fit: contain;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.inbutton{display: flex; justify-content: center;align-item:center;height:100%;margin-top:4px}

.series-name {
    font-size: 24px;
  font-weight: 500;
}

.submit-button {
  background-color: #12A89D;
  color: white;
  border: none;
  border-radius: 999px;
  width: 199px;
  height: 48px;
  align-items: center;
  padding: 8px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* display: none; */
  text-decoration: none;

}

.submit-button:hover {
  background-color: white;
  color: #12A89D;
  border:  2px solid #12A89D ;
}

.style-card.active .submit-button {
  display: block;
}

/* 平板设备 */
@media (max-width: 1280px) {
  .style-section {
    padding: 40px 20px;
  }
  
  .style-grid {
    gap: 20px;
  }
  
  .style-card {
    width: calc(50% - 10px);
    padding: 24px;
    aspect-ratio: auto;
    min-height: 500px;
  }
}

@media (max-width:1080px) {
  .style-section {
    height: 856px;
      /* margin-top: 72px;
  margin-bottom: 72px; */

  }
  .style-container {
    padding: 64px;

  }

  .chair-image-container {
    margin-bottom: 16px;
}
}

/* 小平板/大手机 */
@media (max-width: 768px) {
  .style-section {
    padding: 30px 16px;
    height: 656px !important;
  }
  .style-container{
    max-width: 640px;
    height: 644px;
    padding: 0;
  }

  .category-tag{
    height: 40px;
    padding: 4px 0px;
  }

   .category-tag-content svg{
    /* height: 16px;
    width: 16px; */
  }

  .category-tag-content{
    height: 16px;
    padding: 20px 8px;
    font-weight: 700;
    
  }

  .style-title {
    margin-bottom: 32px;
  }
  
  .style-grid {
    gap: 16px;
    flex-wrap: nowrap;
    height: 380px;
  }
  
  .style-card {
    width: 100%;
    max-width: 308px;
    min-height: 380px;
  }
  
  .pantone-tag {
    top: 16px;
    left: 16px;
  }
  
  .card-bottom {
    display: flex;
    flex-wrap: nowrap !important;
  }

  .series-name {
    font-size: 20px;
    font-weight: 400;
}

.inbutton{
  margin: 0;
  font-size: 14px;
}
  
  .style-card.active .submit-button {
    text-align: center;
    width: 120px;
    height: 40px;
  }

  .chair-image{
    height: 100%;
  }

.confirmed-selection-mark {
  width: 72px !important;
  height: 72px !important;
}

  }



/* 手机设备 */
@media (max-width: 480px) {
  .style-section {
    padding: 20px;
    height: 960px! important;
    /* margin:  40px 0; */
    padding: 90px 20px;
  }

  .style-container{
    height: 100%;
  }
  
  .category-tag {
    margin-bottom: 12px;
  }

  .category-tag-content {
    height: 16px;
    padding: 15px 8px;
    font-weight: 500;
    font-size: 12px;
  }

  .category-tag svg {
    width: 16.5px;
    height: 16.5px;
  }
  
  .style-title {
    margin-bottom: 32px;
  }
  
.style-grid{
  display: flex;
  flex-direction: column;
height: 100%;
}

  .style-card {
    padding: 16px;
    min-height: 350px;
    max-width: 100% ;
  }
  .chair-image-container {
    max-width: 350px;
    max-height: 300px;
    margin-bottom: 20px;
}
  .pantone-tag {
    font-size: 10px;
    padding: 2px 6px;
  }
  
  .series-name {
    font-size: 16px;
  }

  .inbutton{
    font-weight: 500;
            margin-top: 2px;
  }
}